.hide {
	display: none;
}

html, body, #container, #game, #canvas {
	width: 100%;
	height: 100%;
}

.page-header {
	font-family: 'Nosifer', cursive;
	font-size:36px;
	text-align:center;
	background-color: #f1f1f1;
	padding-top:12px;
	margin-top:0px !important;
	-moz-box-shadow: 1px 5px 5px #120d12;
	-webkit-box-shadow: 1px 5px 5px #120d12;
	box-shadow: 1px 5px 5px #120d12;	
}

.panel-heading {
	text-align: center;
}

body {
	background: url('bg2.png');
}

.well {
	width:45%;
	min-height:200px;
	margin: 0 auto;
}

#gamesList .joinBtn {
	cursor: pointer;
}

.vote {
	position: absolute;
	top: 18px;
	left: 25px;
}